.input {
    margin-left: 20px;
    width: 198px;
    height: 25px;
    background-color: #f4f5f7af;
    word-break: break-all;
    border-radius: 5px;
    border: 1px solid #172b4d;
    overflow-wrap: break-word;
  }
  .input::selection{
    background-color: #f4f5f7af;
  }