.headerWrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 30;
    font-weight: 600;
    
  }
  
  .headerLogo,
  .headerMenu {
    cursor: pointer;
    color: rgb(116, 132, 160, 0.85);
    font-size: 30px;
    font-weight: 600;
  }
  
  .headerLogo:hover {
    color: #f4f5f7;
  }
  .headerMenuList{
    list-style-type: none;
    padding: 7px 19px 19px 19px;
    margin: 0px;
   
  }
  .headerMenuItem button{
    margin: 0px;
    min-width: 176px;
  }